
<!--for the top most part-->

<div class="black_header">
  <div class="container">
    <div class="shopster_offers">
      <p>EXPLORE THE MAJESTIC NATURE : <a routerLink="/products"> HAPPY GARDENING  </a></p>
    </div>

    <div class="agile-login">
      <ul>
        <li> <a routerLink="/register"> Create Account </a> </li>
        <li><a  routerLink="/login"> Login </a></li>
        <li><a  routerLink="/checkout"> Checkout </a></li>
        <li><a  routerLink="/my-account"> My Account </a></li>

      </ul>
    </div>

    <!--for cart icon-->
    <div class="product_list_header">
      <form action="#" method="post" class="last">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="display" value="1">
        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<!--for phone and information-->
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i> Order online or call us at : (+0123) 234 567 </li>
      </ul>
    </div>


    <!--for logo with alphabets & search bar-->
    <div class="w3ls_logo_products_left">
      <h1><a routerLink = "\dashboard"> GREEN CART </a></h1>
    </div>
    <div class="shopster_search">
      <form action="#" method="post">
        <input type="search" name="Search" placeholder="Search here" required="">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="clearfix"> </div>
  </div>
</div>

<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li class="active"><a href="\dashboard" class="act"> Home </a></li>
          <!-- Mega Menu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Seeds <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6>ALL TYPES</h6>
                    <li *ngFor="let item of loopArray"><a href="groceries.html">{{item}}</a></li>
                    <!--<li><a href="groceries.html">Flowers</a></li>-->
                    <!--<li><a href="groceries.html">Fruits</a></li>-->
                    <!--<li><a href="groceries.html">Vegetables</a></li>-->
                    <!--<li><a href="groceries.html">Ornamental</a></li>-->
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Vines <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Available Vines </h6>
                    <li><a href="household.html"> Morning Glory </a></li>
                    <li><a href="household.html"> Bougainvillea </a></li>
                    <li><a href="household.html"> RangoonCreeper </a></li>
                    <li><a href="household.html"> Hydrangea </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Perennial <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6>Available now</h6>
                    <li><a href="personalcare.html"> Plumeria </a></li>
                    <li><a href="personalcare.html"> Arabian Jasmine </a></li>
                    <li><a href="personalcare.html"> Hibiscus </a></li>
                    <li><a href="personalcare.html"> Aloevera </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Seasonal <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Depends On season </h6>
                    <li><a href="packagedfoods.html"> Cosmos </a></li>
                    <li><a href="packagedfoods.html"> Portulaca </a></li>
                    <li><a href="packagedfoods.html"> Gazania </a></li>
                    <li><a href="packagedfoods.html"> Pansy (Banfsha) </a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Succulent <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Limited Available </h6>
                    <li><a href="packagedfoods.html"> Aloe </a></li>
                    <li><a href="packagedfoods.html"> Desert Rose </a></li>
                    <li><a href="packagedfoods.html"> String of Pearls </a></li>
                    <li><a href="packagedfoods.html"> Snake plant </a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Indoor  <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Available </h6>
                    <li><a href="beverages.html"> Purple Lily </a></li>
                    <li><a href="beverages.html"> Bottle Palm </a></li>
                    <li><a href="beverages.html"> Spider plant </a></li>
                    <li><a href="beverages.html"> Peace Lily </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- //new -->
<!-- //footer -->

<div class="newproducts-w3agile">
  <div class="container">
    <h3> New Seasonals </h3>
    <div class="agile_top_brands_grids">
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html"><img title=" " alt=" " src="assets/images/14.png"></a>
                    <p> Gazania Seeds </p>
                    <h4> Rs 250 </h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                        <input type="hidden" name="amount" value="35.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html"><img title=" " alt=" " src="assets/images/15.png"></a>
                    <p>Navaratan-dal</p>

                    <h4>Rs 400</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="basmati rise">
                        <input type="hidden" name="amount" value="30.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html"><img src="assets/images/16.png" alt=" " class="img-responsive"></a>
                    <p>White-peasmatar</p>

                    <h4>Rs 800</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                        <input type="hidden" name="amount" value="80.00">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html"><img title=" " alt=" " src="assets/images/17.png"></a>
                    <p>Channa-dal</p>
                    <h4>Rs 900</h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                        <input type="hidden" name="amount" value="35.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //new -->
<!-- //footer -->
<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3>Contact</h3>

        <ul class="address">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>PRECHS, Block 13<span>Karachi, Pakistan.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:customer@greencart.pk">customer@greencart.pk </a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Information</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">FAQ's</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Category</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Seeds</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Vines</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Perennial</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Seasonal</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Succulent</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Indoor</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Profile</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\products">Store</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\cart">My Cart</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\login">Login</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\register">Create Account</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div class="footer-copy">

    <div class="container">
      <p>© 2017 Green Cart. All rights reserved</p>
    </div>
  </div>

</div>
<div class="footer-botm">
  <div class="container">
    <div class="w3layouts-foot">
      <ul>
        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="payment-w3ls">
      <img src="assets/images/card.png" alt=" " class="img-responsive">
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
