<!--for the top most part-->

<div class="black_header">
  <div class="container">
    <div class="shopster_offers">
      <p>EXPLORE THE MAJESTIC NATURE : <a routerLink="/products"> HAPPY GARDENING  </a></p>
    </div>

    <div class="agile-login">
      <ul>
        <li> <a routerLink="/register"> Create Account </a> </li>
        <li><a  routerLink="/login"> Login </a></li>
        <li><a  routerLink="/checkout"> Checkout </a></li>
        <li><a  routerLink="/my-account"> My Account </a></li>

      </ul>
    </div>

    <!--for cart icon-->
    <div class="product_list_header">
      <form action="#" method="post" class="last">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="display" value="1">
        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<!--for phone and information-->
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i> Order online or call us at : (+0123) 234 567 </li>
      </ul>
    </div>


    <!--for logo with alphabets & search bar-->
    <div class="w3ls_logo_products_left">
      <h1><a routerLink = "\dashboard"> GREEN CART </a></h1>
    </div>
    <div class="shopster_search">
      <form action="#" method="post">
        <input type="search" name="Search" placeholder="Search here" required="">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="clearfix"> </div>
  </div>
</div>

<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li class="active"><a href="\dashboard" class="act"> Home </a></li>
          <!-- Mega Menu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Seeds <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6>ALL TYPES</h6>
                    <li *ngFor="let item of loopArray"><a href="groceries.html">{{item}}</a></li>
                    <!--<li><a href="groceries.html">Flowers</a></li>-->
                    <!--<li><a href="groceries.html">Fruits</a></li>-->
                    <!--<li><a href="groceries.html">Vegetables</a></li>-->
                    <!--<li><a href="groceries.html">Ornamental</a></li>-->
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Vines <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Available Vines </h6>
                    <li><a href="household.html"> Morning Glory </a></li>
                    <li><a href="household.html"> Bougainvillea </a></li>
                    <li><a href="household.html"> RangoonCreeper </a></li>
                    <li><a href="household.html"> Hydrangea </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Perennial <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6>Available now</h6>
                    <li><a href="personalcare.html"> Plumeria </a></li>
                    <li><a href="personalcare.html"> Arabian Jasmine </a></li>
                    <li><a href="personalcare.html"> Hibiscus </a></li>
                    <li><a href="personalcare.html"> Aloevera </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Seasonal <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Depends On season </h6>
                    <li><a href="packagedfoods.html"> Cosmos </a></li>
                    <li><a href="packagedfoods.html"> Portulaca </a></li>
                    <li><a href="packagedfoods.html"> Gazania </a></li>
                    <li><a href="packagedfoods.html"> Pansy (Banfsha) </a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Succulent <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Limited Available </h6>
                    <li><a href="packagedfoods.html"> Aloe </a></li>
                    <li><a href="packagedfoods.html"> Desert Rose </a></li>
                    <li><a href="packagedfoods.html"> String of Pearls </a></li>
                    <li><a href="packagedfoods.html"> Snake plant </a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Indoor  <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6> Available </h6>
                    <li><a href="beverages.html"> Purple Lily </a></li>
                    <li><a href="beverages.html"> Bottle Palm </a></li>
                    <li><a href="beverages.html"> Spider plant </a></li>
                    <li><a href="beverages.html"> Peace Lily </a></li>
                  </ul>
                </div>

              </div>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Login Page</li>
    </ol>
  </div>
</div>
<!-- login -->
<div class="login">
  <div class="container">
    <h2>Login Form</h2>

    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      <form>
        <input name="email" [(ngModel)]="Inemail" type="text" value="">

        <input name="password" [(ngModel)]="Inpassword" type="text" value="">

        <div class="forgot">
          <a href="#">Forgot Password?</a>
        </div>
        <input type="submit" value="Login" (click)="auntenticate()" >
      </form>
    </div>
    <h4>For New People</h4>
    <p><a routerLink="/register">Register Here</a> (Or) go back to <a routerLink="/dashboard">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
  </div>
</div>
<!-- //login -->
<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3>Contact</h3>

        <ul class="address">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>PRECHS, Block 13<span>Karachi, Pakistan.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:customer@greencart.pk">customer@greencart.pk </a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Information</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">FAQ's</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Category</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Seeds</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Vines</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Perennial</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Seasonal</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Succulent</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Indoor</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Profile</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\products">Store</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\cart">My Cart</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\login">Login</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="\register">Create Account</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div class="footer-copy">

    <div class="container">
      <p>© 2017 Green Cart. All rights reserved</p>
    </div>
  </div>

</div>
<div class="footer-botm">
  <div class="container">
    <div class="w3layouts-foot">
      <ul>
        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="payment-w3ls">
      <img src="assets/images/card.png" alt=" " class="img-responsive">
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
